<section >
        <ul class="nav nav-pills">
          <li ng-class="{active: painelCtrl.estaSelecionada(1)}">
            <a href ng-click="painelCtrl.selecionaTab(1)">Descrição</a>
          </li>
          <li ng-class="{active: painelCtrl.estaSelecionada(2)}">
            <a href ng-click="painelCtrl.selecionaTab(2)">Especificações</a>
          </li>
          <li ng-class="{active: painelCtrl.estaSelecionada(3)}">
            <a href ng-click="painelCtrl.selecionaTab(3)">Comentarios</a>
          </li>
        </ul>

    	  <div ng-show="painelCtrl.estaSelecionada(1)">
    	    <h4>Descrição</h4>
    	    <p>{{product.description}}</p>
    	  </div>
    	  <div ng-show="painelCtrl.estaSelecionada(2)">
    	    <h4>Especificação</h4>
          <p>{{ product.especification }}</p>
    	    <p ng-show="!product.especification.length">Nenhuma especificação</p>
    	  </div>
    	  <div ng-show="painelCtrl.estaSelecionada(3)">
          <ul>
            <h4>Comentário</h4>
            <li ng-repeat="comentario in product.comentarios">
              <blockquote>
                <strong>{{comentario.estrelas}} Estrelas</strong>
                {{comentario.texto}}
                <cite class="clearfix">—{{comentario.autor}} em {{comentario.dtCriado | date}}</cite>
              </blockquote>
            </li>
      	    <p ng-show="">Nenhum comentário</p>
          </ul>

          <!--  COMENTARIO FORM -->
          <form name="comentarioForm" ng-controller="ComentarioController as comentarioCtrl" ng-submit ="comentarioForm.$valid && comentarioCtrl.addComentario(product)" novalidate>
              <blockquote>
                <strong>Stars: {{comentarioCtrl.comentario.estrelas}} </strong>
                {{comentarioCtrl.comentario.texto}}
                <cite class="clearfix">—{{comentarioCtrl.comentario.autor}} </cite>
              </blockquote>

              <h4>Submit a Review</h4>
              <fieldset class="form-group">
                <select ng-model="comentarioCtrl.comentario.estrelas" class="form-control" ng-options="estrelas for estrelas in [5,4,3,2,1]"  title="Estrelas" required>
                  <option value="">Avalie o produto</option>
                </select>
              </fieldset>
              <fieldset class="form-group">
                <textarea ng-model="comentarioCtrl.comentario.texto" class="form-control" placeholder="Comente sobre o produto..." title="Comentario" required></textarea>
              </fieldset>
              <fieldset class="form-group">
                <input ng-model="comentarioCtrl.comentario.autor" type="email" class="form-control" placeholder="rock@rock.com" title="Email" required/>
              </fieldset>
              <fieldset class="form-group">
                <input ng-submit="addComentario" type="submit" class="btn btn-primary pull-right" value="Enviar Comentario" />
              </fieldset>
            </form>
    	  </div>
	    </section>
