<!DOCTYPE html>
<html ng-app="Loja">
  <head>
    <meta charset="utf-8"/>
    <title>Loja de Roupa</title>
    <link rel="stylesheet" type="text/css" href="./bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </head>

  <body ng-controller="LojaController as loja">
    <div class="list-group">
      <div class="list-group-item" ng-repeat="product in loja.products" class="list-group-item">
        <h3>
          {{product.name}}
          <em class="pull-right"> {{product.price | currency}} </em>
        </h3>

        <div class="gallery">
          <img width="200px" class="img img-circle img-thumbnail cernter-block" ng-src="{{product.images[0].full}}"/>
        </div>

        <section ng-controller="PainelController as painel">
          <ul class="nav nav-pills">
            <li ng-class="{active: painel.estaSelecionada(1)}">
              <a href ng-click="painel.selecionaTab(1)">Descrição</a>
            </li>
            <li ng-class="{active: painel.estaSelecionada(2)}">
              <a href ng-click="painel.selecionaTab(2)">Especificações</a>
            </li>
            <li ng-class="{active: painel.estaSelecionada(3)}">
              <a href ng-click="painel.selecionaTab(3)">Comentarios</a>
            </li>
          </ul>
        
		  <div clas="panel" ng-show="painel.estaSelecionada(1)">
		    <h4>Descrição</h4>
		    <p>{{product.description}}</p>
		  </div>
		  <div clas="panel" ng-show="painel.estaSelecionada(2)">
		    <h4>Especificação</h4>
		    <p>Nenhuma especificação</p>
		  </div>
		  <div clas="panel" ng-show="painel.estaSelecionada(3)">
		    <h4>Comentário</h4>
		    <p>Nenhum comentário</p>
		  </div>
		</section>
      </div>
    </div>


  </body>
</html>
